<div class="row" > 
	<div class="col-sm-8 blog-main"> 
		<div class="blog-post" ng-repeat="post in data.posts" > 
			<h2 class="blog-post-title">{{ welcome }}</h2> 

		</div> 
	</div> 
	<div class="col-sm-3 col-sm-offset-1 blog-sidebar"> 
		<div class="sidebar-module sidebar-module-inset"> 
			igor: {{ welcome }}
			<ul>
    <li ng-repeat="c in cervejas">
      <a href="#/" ng-click="del(c,$index)" >{{c.nome}}</a>
    </li>
  </ul>
		</div> 
		<div class="sidebar-module"> 
			<h4>Quer Saber Mais?</h4>
			 <ol class="list-unstyled"> 
			 	<li>
			 		<a href="http://www.devmedia.com.br/space/eduardo-malherbi-martins">DevMedia</a>
			 	</li> 
			 </ol> 
			</div> 
	</div> 
</div>