
<div class="container" style="margin-top: 65px">
	<section>
		<h1>Cervejas</h1>
		<br>
<div>
<button ui-sref="cerveja" class="btn btn-default">Novo</button>
</div>		
		<table ng-table="tabela"
			class="table table-bordered table-striped table-condensed clickrow">
			<tr ng-repeat="row in $data track by row._id">
				<td data-title="'Nome'" filter="{name: 'text'}"
					sortable="'name'"
					ng-click="openCerveja(row)">{{row.name}}</td>
				<td data-title="'Cervejaria'"
					sortable="'sortCervejaria'"
					 ng-click="openCerveja(row)">{{row.brewery.name}}</td>
				<td data-title="'Estilo'" 
					ng-click="openCerveja(row)">{{row.style.name}}</td>
				<td data-title="'Status'" filter="{status: 'select'}" filter-data="listaStatus" 
					ng-click="openCerveja(row)">{{row.status}}</td>
			</tr>
		</table>

	</section>
</div>