<nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li class="current"><a href="#body">Inicio</a></li>
                        <li><a href="#features">Cadastro</a></li>
                        <li><a href="#works">Cervejas</a></li>
                        <li><a href="#cerveja" click-link="/cerveja" class="external">Cerveja</a></li>
                        <li><a href="#listaCerveja" click-link="/listaCerveja" class="external">Pesquisar</a></li>
                        <li><a href="http://google.com">Contact</a></li>
                    </ul>
                </nav>